{#=====================================================
  Admin page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block content %}

    <h1 class="welcome">Welcome back {{ session.user.forename }}!</h1>

{% endblock %}

