{#=====================================================
  Welcome page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block content %}
  
  {% if session.logged_in and message.uid == session.user.id %}
        
        <h1 class="welcome">Edit a message!</h1>

        <form method="post" action="/message/edit/{{ message.mid }}">
        <h3>Edit Message</h3>
     
        <label>
            Title
            <textarea name="title" required>{{ message.title }}</textarea> 
        </label>

        <label>
            Body
            <textarea name="body" required>{{ message.body }}</textarea>
        </label>

        <button>Confirm</button>
        </form>
{% endif %}

{% endblock %}

